NODE_ENV=production
PORT=3000

DB_HOST_WRITE=
DB_PORT_WRITE=
DB_USER_WRITE=
DB_PASSWORD_WRITE=
DB_DATABASE_WRITE=
DB_CONNECTTIMEOUT_WRITE=

DB_HOST_READ=
DB_PORT_READ=
DB_USER_READ=
DB_PASSWORD_READ=
DB_DATABASE_READ=
DB_CONNECTTIMEOUT_READ=


PROJECT_TAG=example.com.la
JWT_SECRET_ADMIN=XXXX
JWT_SECRET_APP=XXX

# MinIO ENV
MINIO_ENDPOINT=stdev.freelix.com.la
MINIO_PORT=9004
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=xxxx
MINIO_SECRET_KEY=xxxx
MINIO_BUCKET_NAME=passports
SERVER_PORT=3000




